@import "tailwindcss";

@theme {
  --color-background: #131314;
  --color-surface: #1E1F20;
  --color-primary: #A8C7FA;
  --color-secondary: #E3E3E3;
  --color-text: #E3E3E3;
  --color-subtext: #C4C7C5;
  --color-border: #444746;
  --color-accent: #0B57D0;

  --font-sans: Inter, Roboto, sans-serif;
}

:root {
  color-scheme: dark;
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}